@import '../../../../theme/child';

.back-button {
  $size: 96px;
  height: $size;
  width: $size;
  border-radius: 50%;
  background: color($app-colors, blue, base);
  filter: drop-shadow(4px -4px 2px color($app-colors, gray, base));
  text-align: center;
  .back-message-wrapper {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: color($app-colors, gray, light);
    .back-svg {
      margin: 16px 0 4px 0;
    }
  }
}
