<ion-header>
  <ion-toolbar class="header">
    <ion-title>
      <img src="assets/imgs/logo.png" class="header-logo" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="settings" class="header-setting"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="section">達成したクエスト</div>
    <div class="quest-cards">
      <ng-container *ngIf="(achievededQuests$ | async) as quests">
        <quest-card (click)="navigateToDetail(quest.id)" [quest]="quest" *ngFor="let quest of quests"></quest-card>
      </ng-container>
    </div>
  </div>
  <div class="content">
    <div class="section">未達成のクエスト</div>
    <div class="quest-cards">
      <ng-container *ngIf="(otherQuests$ | async) as quests">
        <quest-card (click)="navigateToDetail(quest.id)" [quest]="quest" *ngFor="let quest of quests"></quest-card>
      </ng-container>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon src="assets/icon/add_quest.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
