<div class="thumbnail">

</div>
<div class="content">
  <div class="content-title">
    {{ quest.title }}
  </div>
  <div class="content-point">
    <img class="content-point-jewel" src="assets/icon/jewel.svg" />
    {{ quest.point }}ポイント
  </div>
  <div class="content-status emergency" *ngIf="quest.quest_type === 'emergency'">
    おいそぎクエスト
  </div>
  <!-- <div class="content-status daily">
    毎日クエスト
  </div>
  <div class="content-status weekly">
    曜日クエスト
  </div> -->
</div>
<div class="info">
  <ion-icon name="alert"></ion-icon>
  確認が必要です
</div>
