<ion-header>
  <ion-toolbar class="header">
    <ion-title>
      <img src="assets/imgs/logo.png" class="header-logo" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="settings" class="header-setting"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true">
  <div class="content">
    <div class="section">
      おねだりされているごほうび
    </div>
    <div class="reward-cards">
      <ng-container *ngIf="(requestedRewards$ | async) as rewards">
        <reward-card (click)="navigateToDetail(reward.id)" [reward]="reward" *ngFor="let reward of rewards"></reward-card>
      </ng-container>
    </div>
  <div class="section">
    その他のごほうび
  </div>
  <div class="reward-cards">
    <ng-container *ngIf="(otherRewards$ | async) as rewards">
      <reward-card (click)="navigateToDetail(reward.id)" [reward]="reward" *ngFor="let reward of rewards"></reward-card>
    </ng-container>
  </div>
  </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="click()">
      <ion-icon src="assets/icon/add_reward.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
