<ion-header>
  <ion-toolbar class="header">
    <ion-title>
      <img src="assets/imgs/logo.png" class="header-logo" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="settings" class="header-setting"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="section">
      クエスト達成報告
    </div>
    <div class="reports">
      <ng-container *ngIf="(achievements$ | async) as achievements">
        <top-report *ngFor="let achievement of achievements"></top-report>
      </ng-container>
    </div>
    <div class="section">
      ごほうびおねだり報告
    </div>
    <div class="reports">
      <ng-container *ngIf="(rewards$ | async) as rewards">
        <top-report *ngFor="let reward of rewards"></top-report>
      </ng-container>
    </div>
    <!--<div class="section">
      クエスト失敗報告
    </div>
    <div class="reports">
      <top-report></top-report>
      <top-report></top-report>
    </div>-->
  </div>
</ion-content>
