<ion-content class="child-detail-page-content">
  <app-button-wrapper [showBack]="true"></app-button-wrapper>
  <div class="status-wrapper black-font">
    <div class="child-name">{{child?.name}}</div>
    <div class="child-point">
      <img class="point-jewel-image" src="../../../assets/icon/jewel.svg" width="15px" height="15px" />
      <div class="point-score">{{child?.point}}</div>
      <div class="point-text">ポイント</div>
    </div>
  </div>
  <div class="content-title-wrapper">
    <img class="content-title-image" src="../../../assets/icon/bulletin_board.svg" height="80px" />
    <div class="content-title black-font">どんな{{pageName === 'quest' ? 'クエスト' : 'ごほうび'}}があるか見てみよう！</div>
  </div>
  <ng-container class="list-wrapper" *ngIf="pageName === 'quest'; else rewardList">
    <ng-container *ngIf="(quests$ | async) as quests">
      <div class="emergency-list">
        <div class="emergency-title black-font">おいそぎクエスト</div>
        <ion-list class="quest-list">
          <ng-container *ngFor="let quest of quests">
            <div class *ngIf="quest.questType === 'emergency' && quest.status !== 'finished'">
              <app-child-item [value]="quest" [showPeriod]="true"></app-child-item>
            </div>
          </ng-container>
        </ion-list>
      </div>
      <div class="daily-list">
        <div class="daily-title black-font">まいにちクエスト</div>
        <ion-list class="quest-list">
          <ng-container *ngFor="let quest of quests">
            <div class="margin-toru" *ngIf="quest.questType !== 'emergency'  && quest.status !== 'finished'">
              <app-child-item [value]="quest" [showPeriod]="true"></app-child-item>
            </div>
          </ng-container>
        </ion-list>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #rewardList>
    <ng-container>
      <div class="reward-list">
        <div class="reward-title black-font">おねだりできるごほうび</div>
        <ion-list class="quest-list">
          <ng-container>
            <div class="margin-toru">
              <app-child-item [showPeriod]="false"></app-child-item>
            </div>
          </ng-container>
        </ion-list>
      </div>
      <div class="yet-reward-list">
        <div class="yet-reward-title black-font">まだおねだりできないごほうび</div>
        <ion-list class="quest-list">
          <ng-container>
            <div class="margin-toru">
              <app-child-item [showPeriod]="false"></app-child-item>
            </div>
          </ng-container>
        </ion-list>
      </div>
    </ng-container>
  </ng-template>
</ion-content>
