@import '../../../theme/child';

.child-detail-page-content {
  .status-wrapper {
    height: auto;
    width: auto;
    font-size: 12px;
    display: flex;
    margin: 16px 20px;
    .child-name, .child-point {
      display: flex;
      align-items: center;
      border-bottom: 1px solid color($app-colors, gray, dark);
      width: 100px;
      margin-right: 20px;
    }

    .child-point {
      .point-jewel-image {
        margin-right: 8px;
      }
    }
  }
  .content-title-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;
    .content-title-image {
      margin: 16px 0;
    }
    .content-title {
      font-size: 20px;
    }
  }
  .emergency-list, .daily-list, .reward-list, .yet-reward-list {
    margin: 8px 16px 0 16px;
  }
  .emergency-title, .daily-title, .reward-title, .yet-reward-title {
    font-size: 16px;
    margin-bottom: 8px;
    color: color($child-colors, primary);
  }
  .quest-card {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 88px;
    background: color($app-colors, gray, light);
    .quest-image {
      --size: 88px;
      margin-right: 8px;
    }
    .quest-card-content-wrapper {
      .quest-card-title {
        font-size: 16px;
      }
      .quest-card-content {
        font-size: 12px;
        padding: 2px;
      }
      .quest-card-status-root {
        width: 100%;
        padding: 0;
      }
      .quest-card-status-wrapper {
        display: flex;
        position: fixed;
        right: 0;
        bottom: 0;
        .quest-card-status {
          margin: 4px 8px;
          display: flex;
          align-items: center;
          font-size: 12px;
        }
      }
    }
  }
}
