<ion-content class="child-page-content">
  <app-button-wrapper [showBack]="false"></app-button-wrapper>
  <div class="status-wrapper black-font">
    <div class="child-name">ほげのちゃん</div>
    <div class="child-point">
      <img class="point-jewel-image" src="../../assets/icon/jewel.svg" width="20px" height="20px" />
      <div class="point-score">800</div>
      <div class="point-text">ポイント</div>
    </div>
  </div>
  <div class="cards-wrapper black-font">
    <ion-card (click)="pushOtherPage('quest')" class="card-wrapper">
      <ion-card-title class="card-title quest-cards">クエストを見る</ion-card-title>
      <ion-card-content class="card-content">
        <img class="title-image" src="../../assets/icon/bulletin_board.svg" height="80px" />
      </ion-card-content>
    </ion-card>
    <ion-card (click)="pushOtherPage('reward')" class="card-wrapper">
      <ion-card-title class="card-title reward-cards">ごほうびを見る</ion-card-title>
      <ion-card-content class="card-content">
        <img class="title-image" src="../../assets/icon/treasure_chest.svg" height="80px" />
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
