@import '../../theme/child';

.child-page-content {
  .status-wrapper {
    height: auto;
    width: auto;
    margin: 12vw 40vw 12vw 16vw;
    font-size: 20px;
    .child-name, .child-point {
      border-bottom: 1px solid color($app-colors, gray, dark);
      margin-bottom: 16px;
    }
  }
  .cards-wrapper {
    margin: 0 16vw;
    .card-wrapper {
      margin: 0;
      border-radius: 4px;
      & + .card-wrapper {
        margin: 8vh 0;
      }
      .card-title {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: color($app-colors, gray, light);
        &.quest-cards {
          background: color($child-colors, primary);
        }
        &.reward-cards {
          background: color($child-colors, secondary);
        }
      }
      .card-content {
        background: color($app-colors, gray, light);
      }
    }
  }
}
