<ion-header>
  <ion-toolbar class="header">
    <ion-title>
      <img src="assets/imgs/logo.png" class="header-logo" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="settings" class="header-setting"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="thumbnail"></div>
    <ng-container>
      <div class="trophy">
        <ion-icon name="trophy"></ion-icon>
        <div class="trophy-text">
          <div class="trophy-message">ほげのちゃんが達成！</div>
          <div class="trophy-datetime">2019/10/17 8:00</div>
        </div>
      </div>
      <div class="trophy-buttons">
        <div class="trophy-button" tappable>
          達成確認！
        </div>
        <div class="trophy-button-cancel">
          もう一回！
        </div>
      </div>
    </ng-container>
    <div class="title">
      草刈り求む！
    </div>
    <div class="info">
      <div class="info-point">
        <img src="assets/icon/jewel.svg">
        800
      </div>
      <div class="info-datetime">
        2019/10/17 8:00まで
      </div>
    </div>
    <div class="description">
      説明とかホゲホゲ
      説明とかホゲホゲ
      説明とかホゲホゲ
      説明とかホゲホゲ
      説明とかホゲホゲ
      説明とかホゲホゲ
    </div>
  </div>
</ion-content>
