@import "../../../theme/parent";
.content {
  padding: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thumbnail {
  width: 100px;
  height: 100px;
  background: color($parent-colors, dammy);
}
.title {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 5px;
}
.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.info-point {
  font-size: 12px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  & > img {
    height: 12px;
    margin-right: 2px;
  }
}
.info-datetime {
  font-size: 12px;
}
.description {
  width: 100%;
  font-size: 16px;
  line-height: 27px;
  margin-top: 16px;
  padding-top: 16px;
  border-top: solid 1px color($parent-colors, light);
}
