<ion-header class="child-modal-header black-font">
  {{value.title}}
</ion-header>

<ion-content [scrollY]="false" class="child-modal-content">
  <div class="child-modal-quest">
    <div class="child-modal-image">
      <img class="hearvy-image" src="../../../assets/icon/bulletin_board.svg"/>
    </div>
    <div class="child-modal-quest-content">
      <div>{{value.description}}</div>
      <div *ngIf="!!value.period" class="child-modal-quest-period">{{ datePipe.transform(value.period, 'MM月dd日')}}まで</div>
    </div>
  </div>
  <div class="child-modal-message-wrapper">
    <div class="child-modal-message black-font">
      このクエストをできれば
      <div class="point-wrapper">
        <img class="point-jewel-image" src="../../../assets/icon/jewel.svg" width="15px" height="15px" />
        {{value.point}}
      </div>
      ゲット！
    </div>
    <ion-button (click)="submitQuest()" class="child-modal-button black-font">
      できたらここをタップ！
    </ion-button>
  </div>
</ion-content>
