@import "../../../theme/theme";
:host {
  padding: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 100%;
  display: flex;
}
.icon {
  width: 28px;
  height: 28px;
  background-color: color($app-colors, dammy);
  margin-right: 8px;
}
.content-info {
  display: flex;
}
.content-info-name {
  font-size: 8px;
  font-weight: bold;
  margin-right: 8px;
}
.content-info-datetime {
  font-size: 8px;
}
.content-text {
  font-size: 12px;
  line-height: 18px;
}
